/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inside-container {
  background-color: #ffffff;
  height: 80%;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  text-align: center;
  flex-wrap: nowrap;
}
.fruit-count {
  color: #ffd569;
  font-size: 36px;
  font-family: 'roboto';
  font-weight: bold;
}
.heading {
  font-family: 'roboto';
  font-weight: bold;
  font-size: 36px;
  color: #000000;
}
.fruit-img {
  height: 120px;
  width: 150px;
}
.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 15px;
}
.eat-btn {
  height: 35px;
  width: 90px;
  background-color: #007bff;
  color: #ffffff;
  border: 0px solid #007bff;
  border-radius: 10px;
  cursor: pointer;
}
